@charset "utf-8";
/* CSS Document */

.login-text{
	text-align: center;
}

.register-text{
	text-align: center;
}

form{
	width: 60%;
	margin: 0 auto;
	input{
		margin-top: 5px;
	}
	label{
		margin-top: 5px;
	}
}



